<a href="#" rel="popover" class="btn btn-paypal"><i class="fa fa-paypal"></i> Paypal</a>
<a href="#" data-toggle="popover" rel="popover"
        class="btn btn-bitcoin coin" 
        data-coin="Bitcoin" 
        data-address="1NExksPSW6EZXatNiYYi8ZQYhXGBKDr7v1"
        data-icon="{{asset "images/icon_bitcoin.png"}}">
</a>
<a href="#" rel="popover"
        class="btn btn-litecoin coin" 
        data-coin="Litecoin" 
        data-address="LcoMfWTpJBmCJ77DRk9VEeov8HdjVizMpr"
        data-icon="{{asset "images/icon_litecoin.png"}}">
</a>
<a href="#" rel="popover"
        class="btn btn-dogecoin coin"
        data-coin="Dogecoin" 
        data-address="DGWxqwNnq4vhTBbNYcK5Q52ACpgrZdTthF"
        data-icon="{{asset "images/icon_dogecoin.png"}}">
</a>