<!-- footer -->
<footer>
  <hr />
  <div class="container">
    <p class="text-center">
      <a href="http://twitter.com/mattiascibien" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-3x"></i></a>
      <a href="http://facebook.com/mattiascibienweb" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-3x"></i></a>
      <a href="http://mattiascibien.deviantart.com/" data-toggle="tooltip" data-placement="top" title="Deviantart"><i class="fa fa-deviantart fa-3x"></i></a>
      <a href="http://google.com/+MattiasCibienNet" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus fa-3x"></i></a>
    </p>
    <p class="text-center">Copyright &copy; {{@blog.title}} {{date format="YYYY"}} - All rights reserved<br/>
        Made with <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://jquery.com">jQuery</a>. Color scheme by <a href="http://bootswatch.com/">Bootswatch</a></p>
      <p class="text-center">Proudly published with <a href="https://ghost.org">Ghost</a></p>
  </div>
</footer>
<!-- /footer -->
