/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {

}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  background: #000000;
  display: table;
  height: 45%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

#about {

}

#portfolio {
  background-color: #222;
  color: #ffffff;
}

#contact {
  background-color: #222;
  color: #ffffff;
}

#portfolio .fa {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(../images/earth.jpg) no-repeat center center;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}


footer {
  padding: 20px 0;
}
footer .fa {
  margin-left: 10px;
  margin-right: 10px;
}
footer .fa:hover {

}

#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 30px; /* height of link element */
    right: 18px; /* padding from the left side of the window */

    animation: affixFadeIn 0.25s  ease-in;
    -webkit-animation: affixFadeIn 0.25s;
}

@keyframes affixFadeIn
{
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes affixFadeIn
{
  from {opacity: 0;}
  to {opacity: 1;}
}


.post-content img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0.6em 0;
    /* Centers an image by (1) pushing its left edge to the
       center of its container and (2) shifting the entire image
       in the opposite direction by half its own width.
       Works for images that are larger than their containers. */
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%); /* for Safari and iOS */
    -ms-transform: translateX(-50%); /* for IE9 */
    transform: translateX(-50%);
}

#top-link-block > a {
  border-radius: 50%;

  border: 2px solid;
  border-radius: 50%;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

* {
  font-family: 'Droid Sans', sans-serif;
}

*:focus {
    outline: 0 !important;
}


.popover {
  width:100%;
}


.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}
.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}
.btn-googleplus {
    background: #e93f2e;
    border-radius: 0;
    color: #fff
}
.btn-googleplus:link, .btn-googleplus:visited {
    color: #fff
}
.btn-googleplus:active, .btn-googleplus:hover {
    background: #ba3225;
    color: #fff
}
.btn-stumbleupon {
    background: #f74425;
    border-radius: 0;
    color: #fff
}
.btn-stumbleupon:link, .btn-stumbleupon:visited {
    color: #fff
}
.btn-stumbleupon:active, .btn-stumbleupon:hover {
    background: #c7371e;
    color: #fff
}
.btn-linkedin {
    background: #0e76a8;
    border-radius: 0;
    color: #fff
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff
}
.btn-linkedin:active, .btn-linkedin:hover {
    background: #0b6087;
    color: #fff
}